<hr>
<div class="columns">
  <div class="column is-one-quarter">
    <%= render 'admin/nav' %>
  </div>
  <div class="column content-area">
    <table class="table admin-data-table">
    <thead>
      <tr>
        <th>Value</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td class="value-cell">
            <%= form_for submission, url: admin_submission_validate_path(submission), method: :post do |f| %>
              <span class="invalid-name-text"><%= submission.value %></span>
            <% end %>
          </td>
          <td>
            <i class="material-icons validate-info-icon hint--top" aria-label="Edit name to validate">info</i>
            <a class='validate-link is-hidden' href="#">
              <i class="material-icons hint--top" aria-label="Validate new store">check</i>
            </a>
          </td>
          <td>
            <%= link_to '#' do %>
              <i class="material-icons hint--top" aria-label="Delete submission">delete</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>

<script>
  var options = {
    itemSearchPath: "<%= api_item_search_path %>"
  }
  var page = new AdminSubmissionsPage(options);
</script>