<section class="section">
  <div class="container">
    <div class="column content-area">
      <h1 class="title">My Community Submissions
        <div class="field is-grouped is-pulled-right">
          <%= link_to "Submit new Store", community_new_store_path, class: 'button is-info is-pulled-right control' %>
          <%= link_to "Submit new Item", community_new_item_path, class: 'button is-info is-pulled-right control' %>
        </div>
      </h1>
      <hr>
      <div class="tile is-ancestor">

        <div class="tile is-parent">
          <article class="tile is-child notification is-warning">
            <h1 class="title"><%= @submissions.where(status: :pending).size %></h1>
            <span>pending submissions</span>
            <div class="field submission-list">
              <%= render 'submission_list', status: :pending %>
            </div>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <h1 class="title"><%= @submissions.where(status: :accepted).size %></h1>
            <span>accepted submissions</span>
            <div class="field submission-list">
              <%= render 'submission_list', status: :accepted %>
            </div>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification is-danger">
            <h1 class="title"><%= @submissions.where(status: :rejected).size %></h1>
            <span>rejected submissions</span>
            <div class="field submission-list">
              <%= render 'submission_list', status: :rejected %>
            </div>
          </article>
        </div>

      </div>
    </div>
  </div>
</section>
