<hr>
<div class="columns">
  <div class="column is-one-quarter">
    <%= render 'admin/nav' %>
  </div>
  <div class="column content-area">

    <nav class="pagination is-small is-centered">
      <ul class="pagination-list">
        <%= active_link_to '...', admin_items_path, active: /items$/, class: 'pagination-link', class_active: 'is-current' %>
        <% ('a'..'z').each do |alpha| %>
          <%= active_link_to alpha, admin_items_path(alpha: alpha), active: /items\?alpha=#{alpha}/, class: 'pagination-link', class_active: 'is-current' %>
        <% end %>
      </ul>
    </nav>

    <table class="table admin-data-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mode</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.name.titleize %></td>
          <td><%= item.mode.try(:name).try(:titleize) %></td>
          <td>
            <%= link_to admin_item_path(item), method: :delete do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>