<section class="section">
  <div class="container">
    <div class="content column is-8 is-offset-2">
      <h2 class="title">
        <%= @receipt.store.name.titleize %> - <%= @receipt.date.strftime("%F") %> - Transaction
      </h2>
      <hr>

      <label class="label">Original Text</label>
      <div class="control">
        <textarea class="textarea is-large raw-text-preview" type="text" disabled><%= raw @transaction.raw %></textarea>
      </div>

      <%= form_for @transaction do |f| %>
        <%= f.form_wrapper :text_field, :name, title: 'Item Name' %>
        <%= f.form_wrapper :text_field, :price %>
        <%= f.form_wrapper :text_field, :weight_value, title: 'Weight Amount' %>
        <%= f.form_wrapper :text_field, :weight_unit, title: 'Weight Unit' %>
        <%= f.form_wrapper :text_field, :count %>
        <%= f.submit 'Update', class: 'button is-primary is-large' %>
      <% end %>

    </div>
  </div>
</section>
