<section class="section">
  <div class="container">
    <div class="column is-8 is-offset-2">
        <% if @receipts.size == 0 %>
          <article class="message is-warning">
            <div class="message-body">
              <p>You have no receipts. Please <a href="<%= root_path %>">add a receipt</a>.</p>
            </div>
          </article>
        <% else %>
          <table class="table">
            <thead>
              <tr>
                <th>Store</th>
                <th>Date</th>
                <th>Progress</th>
              </tr>
            </thead>
            <tbody>
              <% @receipts.each_with_index do |receipt,index| %>
                <tr class="receipt-row" data-receipt-path="<%= receipt_path(receipt) %>" >
                  <td><%= link_to receipt.store.try(:name).try(:titleize) || 'Store Missing', receipt_path(receipt) %></td>
                  <td><%= receipt.created_at.to_date.to_formatted_s(:long) %></td>
                  <td width="40%">
                    <h2 class="progress-label"><%= completion_percentage(receipt) %></h2>
                    <progress class="progress is-success" value="<%= completed_transactions_count(receipt) %>" max="<%= transactions_count(receipt) %>"></progress>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <article class="message is-warning">
            <div class="message-body has-text-centered">
              <p class="is-centered"><a href="<%= root_path %>">Add more receipts</a>.</p>
            </div>
          </article>
          <%= paginate(@receipts) %>
        <% end %>
      </h2>
    </div>
  </div>
</section>

<script type="text/javascript">
  $('.receipt-row').click(function(e) {
    window.location.href = $(e.currentTarget).data('receipt-path');
  })
</script>