<section class="section">
  <div class="container">
    <div class="content column is-8 is-offset-2">
      <h2 class="title">
        <%= @receipt.store.try(:name).try(:titleize) %> - <%= @receipt.date.try(:to_date).try(:to_formatted_s, :long) %> <div class="field is-grouped is-pulled-right"><%= link_to "Show Receipt", '#', class: 'button is-primary is-pulled-right control show-receipt-button' %> <%= link_to "Download PDF", @receipt.pdf_url, class: 'button is-primary is-pulled-right control' %></div>
      </h2>
      <h3 class="title">Progress</h3>
      <hr>
      <progress class="progress is-large is-success" value="<%= completed_transactions_count(@receipt) %>" max="<%= transactions_count(@receipt) %>"></progress>
      <h3>Transactions</h3>
      <table class="table is-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Weight</th>
            <th>Count</th>
            <th>Original Text</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @receipt.transactions.each do |transaction| %>
            <tr class="<%= 'incomplete' unless transaction.complete? %>">
              <td class="<%= 'missing' unless transaction.name %>"><%= transaction.name.try(:humanize) || '-' %></td>
              <td class="<%= 'missing' unless transaction.price %>"><%= humanized_money_with_symbol(transaction.price)  %></td>
              <td class="<%= 'missing' unless transaction.weight %>"><%= transaction.weight.try(:to_s) || '-' %></td>
              <td class="<%= 'missing' unless transaction.count %>"><%= transaction.count || '-' %></td>
              <td class="raw-cell"><span class="raw"><%= transaction.raw %></span></td>
              <td><a class="button is-info is-small disabled" disabled>Save</a></td>
              <td>
                <%= link_to edit_transaction_path(transaction) do %>
                  <span class="icon">
                    <i class="fa fa-pencil"></i>
                  </span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h3 class="title">Recognized Text</h3>
      <hr>
      <div class="column is-8 is-offset-2">
        <pre>
          <% @receipt.text.split("\n").each do |line| %>
            <span><%= line %></span>
          <% end %>
        </pre>
      </div>
    </div>
  </div>
</section>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <p class="image">
      <%= image_tag(@receipt.image_url) %>
    </p>
  </div>
  <button class="modal-close is-large"></button>
</div>