<% cache("user-#{current_user.id}-stats-view-#{current_user.last_stats_update.to_i}") do %>
  <section class="section">
    <div class="container">
      <div class="content column is-8 is-offset-2">

      <div class="transactions-list-button-container box is-worst">
          <button class="button is-large toggle-transaction-group">
            <div class="field is-grouped">
              <i class="material-icons">keyboard_arrow_right</i>
              <span class="item-name">
                You can save money on these items
              </span>
            </div>
            <div class="field is-grouped">
              <%= @transaction_groups['worst-transactions'].size %>
            </div>
          </button>
        </div>
        <div class="transactions-list worst-transactions-list is-hidden">
        <% @transaction_groups['worst-transactions'].each do |item_id, transactions| %>
          <% next if item_id.blank? %>
          <% next if transactions.pluck(:price_per_unit).compact.uniq.size < 2 %>
          <% best_ppu = transactions.pluck(:price_per_unit).compact.min %>
          <% worst_ppu = transactions.pluck(:price_per_unit).compact.max %>
          <% most_recent_transaction = transactions.sort_by{|t| t.receipt.date}.reverse.first %>

          <div class="box item-card <%= transaction_class(most_recent_transaction, worst_ppu, best_ppu) %>" data-item-id="<%=item_id%>">
            <button class="button is-large toggle-card-button">
              <div class="field is-grouped">
                <i class="material-icons">keyboard_arrow_right</i>
                <span class="item-name">
                  <%= most_recent_transaction.item.name.titleize %>
                </span>
              </div>
              <div class="field is-grouped">
                <%= n_days_ago(most_recent_transaction) %>
              </div>
            </button>

            <div class="transaction-list is-hidden">
              <div class="fluid-container transaction-summary">
                <% if best_ppu && most_recent_transaction.price_per_unit == best_ppu %>
                  <i class="material-icons">check_circle</i><h2 class="title">You saved up to $<%= transaction_saved(most_recent_transaction, worst_ppu) %> on your last purchase</h2>
                <% elsif worst_ppu && most_recent_transaction.price_per_unit == worst_ppu %>
                  <i class="material-icons">error</i><h2 class="title">You lost $<%= transaction_loss(most_recent_transaction, best_ppu) %> on your last purchase</h2>
                <% else %>
                  <i class="material-icons">help</i>
                  <% if best_ppu %>
                    <h2 class="title">You could have saved $<%= transaction_loss(most_recent_transaction, best_ppu) %> more on your last purchase</h2>
                  <% end %>
                <% end %>
              </div>

              <div class="box">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Store</th>
                      <th>Price</th>
                      <th>Amount</th>
                      <th><abbr title="Price per Unit">PPU</abbr></th>
                    </tr>
                  </thead>
                  <tbody>
                  <% transactions.sort_by{|t| t.receipt.date}.reverse.each do |transaction| %>
                    <tr data-transaction-id="<%= transaction.id %>" class="<%= transaction_row_class(transaction, best_ppu, worst_ppu) %>">
                      <td>
                        <%= transaction.receipt.date.to_date.try(:to_formatted_s, :long) %>
                      </td>
                      <td>
                        <%= transaction.receipt.store.try(:name).try(:titleize) %>
                      </td>
                      <td>
                        <%= "$#{transaction.price}" %>
                      </td>
                      <td>
                        <%= transaction.weight.to_s.presence || transaction.count %>
                      </td>
                      <td>
                        <%= display_price_per_unit(transaction) %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        <% end %>
        </div>

        <div class="transactions-list-button-container box">
          <button class="button is-large toggle-transaction-group">
            <div class="field is-grouped">
              <i class="material-icons">keyboard_arrow_right</i>
              <span class="item-name">
                We need more info for these items
              </span>
            </div>
            <div class="field is-grouped">
              <%= @transaction_groups['unknown-transactions'].size %>
            </div>
          </button>
        </div>
        <div class="transactions-list unknown-transactions-list is-hidden">
        <% @transaction_groups['unknown-transactions'].each do |item_id, transactions| %>
          <% next if item_id.blank? %>
          <% next if transactions.pluck(:price_per_unit).compact.uniq.size < 2 %>
          <% best_ppu = transactions.pluck(:price_per_unit).compact.min %>
          <% worst_ppu = transactions.pluck(:price_per_unit).compact.max %>
          <% most_recent_transaction = transactions.sort_by{|t| t.receipt.date}.reverse.first %>

          <div class="box item-card <%= transaction_class(most_recent_transaction, worst_ppu, best_ppu) %>" data-item-id="<%=item_id%>">
            <button class="button is-large toggle-card-button">
              <div class="field is-grouped">
                <i class="material-icons">keyboard_arrow_right</i>
                <span class="item-name">
                  <%= most_recent_transaction.item.name.titleize %>
                </span>
              </div>
              <div class="field is-grouped">
                <%= n_days_ago(most_recent_transaction) %>
              </div>
            </button>

            <div class="transaction-list is-hidden">
              <div class="fluid-container transaction-summary">
                <% if best_ppu && most_recent_transaction.price_per_unit == best_ppu %>
                  <i class="material-icons">check_circle</i><h2 class="title">You saved up to $<%= transaction_saved(most_recent_transaction, worst_ppu) %> on your last purchase</h2>
                <% elsif worst_ppu && most_recent_transaction.price_per_unit == worst_ppu %>
                  <i class="material-icons">error</i><h2 class="title">You lost $<%= transaction_loss(most_recent_transaction, best_ppu) %> on your last purchase</h2>
                <% else %>
                  <i class="material-icons">help</i>
                  <% if best_ppu %>
                    <h2 class="title">You could have saved $<%= transaction_loss(most_recent_transaction, best_ppu) %> more on your last purchase</h2>
                  <% end %>
                <% end %>
              </div>

              <div class="box">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Store</th>
                      <th>Price</th>
                      <th>Amount</th>
                      <th><abbr title="Price per Unit">PPU</abbr></th>
                    </tr>
                  </thead>
                  <tbody>
                  <% transactions.sort_by{|t| t.receipt.date}.reverse.each do |transaction| %>
                    <tr data-transaction-id="<%= transaction.id %>" class="<%= transaction_row_class(transaction, best_ppu, worst_ppu) %>">
                      <td>
                        <%= transaction.receipt.date.to_date.try(:to_formatted_s, :long) %>
                      </td>
                      <td>
                        <%= transaction.receipt.store.try(:name).try(:titleize) %>
                      </td>
                      <td>
                        <%= "$#{transaction.price}" %>
                      </td>
                      <td>
                        <%= transaction.weight.to_s.presence || transaction.count %>
                      </td>
                      <td>
                        <%= display_price_per_unit(transaction) %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        <% end %>
        </div>

        <div class="transactions-list-button-container box is-best">
          <button class="button is-large toggle-transaction-group">
            <div class="field is-grouped">
              <i class="material-icons">keyboard_arrow_right</i>
              <span class="item-name">
                You're doing great on these items
              </span>
            </div>
            <div class="field is-grouped">
              <%= @transaction_groups['best-transactions'].size %>
            </div>
          </button>
        </div>
        <div class="transactions-list best-transactions-list is-hidden">
        <% @transaction_groups['best-transactions'].each do |item_id, transactions| %>
          <% next if item_id.blank? %>
          <% next if transactions.pluck(:price_per_unit).compact.uniq.size < 2 %>
          <% best_ppu = transactions.pluck(:price_per_unit).compact.min %>
          <% worst_ppu = transactions.pluck(:price_per_unit).compact.max %>
          <% most_recent_transaction = transactions.sort_by{|t| t.receipt.date}.reverse.first %>

          <div class="box item-card <%= transaction_class(most_recent_transaction, worst_ppu, best_ppu) %>" data-item-id="<%=item_id%>">
            <button class="button is-large toggle-card-button">
              <div class="field is-grouped">
                <i class="material-icons">keyboard_arrow_right</i>
                <span class="item-name">
                  <%= most_recent_transaction.item.name.titleize %>
                </span>
              </div>
              <div class="field is-grouped">
                <%= n_days_ago(most_recent_transaction) %>
              </div>
            </button>

            <div class="transaction-list is-hidden">
              <div class="fluid-container transaction-summary">
                <% if best_ppu && most_recent_transaction.price_per_unit == best_ppu %>
                  <i class="material-icons">check_circle</i><h2 class="title">You saved up to $<%= transaction_saved(most_recent_transaction, worst_ppu) %> on your last purchase</h2>
                <% elsif worst_ppu && most_recent_transaction.price_per_unit == worst_ppu %>
                  <i class="material-icons">error</i><h2 class="title">You lost $<%= transaction_loss(most_recent_transaction, best_ppu) %> on your last purchase</h2>
                <% else %>
                  <i class="material-icons">help</i>
                  <% if best_ppu %>
                    <h2 class="title">You could have saved $<%= transaction_loss(most_recent_transaction, best_ppu) %> more on your last purchase</h2>
                  <% end %>
                <% end %>
              </div>

              <div class="box">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Store</th>
                      <th>Price</th>
                      <th>Amount</th>
                      <th><abbr title="Price per Unit">PPU</abbr></th>
                    </tr>
                  </thead>
                  <tbody>
                  <% transactions.sort_by{|t| t.receipt.date}.reverse.each do |transaction| %>
                    <tr data-transaction-id="<%= transaction.id %>" class="<%= transaction_row_class(transaction, best_ppu, worst_ppu) %>">
                      <td>
                        <%= transaction.receipt.date.to_date.try(:to_formatted_s, :long) %>
                      </td>
                      <td>
                        <%= transaction.receipt.store.try(:name).try(:titleize) %>
                      </td>
                      <td>
                        <%= "$#{transaction.price}" %>
                      </td>
                      <td>
                        <%= transaction.weight.to_s.presence || transaction.count %>
                      </td>
                      <td>
                        <%= display_price_per_unit(transaction) %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<script type="text/javascript">
  var page = new StatsPage();
</script>