<!DOCTYPE html>
<html>
  <head>
    <title>GroceryGuruServer</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= controller.controller_name %> <%= controller.action_name %> <%= yield :body_class %>">
    <div class="notification is-success <%= 'show' if (notice || flash[:notice]).present? %>">
      <button class="delete"></button>
      <%= notice || flash[:notice] %>
    </div>

    <div class="notification is-danger <%= 'show' if (alert || flash[:error]).present? %>">
      <button class="delete"></button>
      <%= alert || flash[:error] %>
    </div>

    <%= render 'application/navigation' %>
    <%= yield %>
    <%= render 'application/footer' %>
  </body>
</html>
